##EMPOYEES DATA ANALYSIS USING PYSPARK

######Read File and Define Schema

In [0]:
# File location and type
file_location = "/FileStore/tables/employees_data.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

Emp_No,Emp_Name,Salary,Age,Department
198,Donald,2600,29,IT
199,Douglas,2600,34,Sales
200,Jennifer,4400,36,Marketing
201,Michael,13000,32,IT
202,Pat,6000,39,HR
203,Susan,6500,36,Marketing
204,Hermann,10000,29,Finance
205,Shelley,12008,33,Finance
206,William,8300,37,IT
100,Steven,24000,39,IT
101,Neena,17000,27,Sales
102,Lex,17000,37,Marketing
103,Alexander,9000,39,Marketing
104,Bruce,6000,38,IT
105,David,4800,39,IT
106,Valli,4800,38,Sales
107,Diana,4200,35,Sales
108,Nancy,12008,28,Sales
109,Daniel,9000,35,HR
110,John,8200,31,Marketing
111,Ismael,7700,32,IT
112,Jose Manuel,7800,34,HR
113,Luis,6900,34,Sales
114,Den,11000,27,Finance
115,Alexander,3100,29,Finance
116,Shelli,2900,37,Finance
117,Sigal,2800,33,Sales
118,Guy,2600,36,HR
119,Karen,2500,32,Finance
120,Matthew,8000,30,HR
121,Adam,8200,39,HR
122,Payam,7900,36,Finance
123,Shanta,6500,35,Sales
124,Kevin,5800,33,Marketing
125,Julia,3200,35,Finance
126,Irene,2700,28,HR
127,James,2400,31,HR
128,Steven,2200,33,Finance
129,Laura,3300,38,IT
130,Mozhe,2800,28,Marketing
131,James,2500,36,Sales
132,TJ,2100,34,IT
133,Jason,3300,38,Sales
134,Michael,2900,29,Sales
135,Ki,2400,35,Marketing
136,Hazel,2200,29,IT
137,Renske,3600,26,Marketing
138,Stephen,3200,35,Sales
139,John,2700,36,Sales
140,Joshua,2500,29,Finance

######Save it in Temporary Table

In [0]:
# Create a view or table

temp_table_name = "employees_data_analysis"

df.createOrReplaceTempView(temp_table_name)

In [0]:
%sql

/* Query the created temp table in a SQL cell */

select * from `employees_data_analysis`

Emp_No,Emp_Name,Salary,Age,Department
198,Donald,2600,29,IT
199,Douglas,2600,34,Sales
200,Jennifer,4400,36,Marketing
201,Michael,13000,32,IT
202,Pat,6000,39,HR
203,Susan,6500,36,Marketing
204,Hermann,10000,29,Finance
205,Shelley,12008,33,Finance
206,William,8300,37,IT
100,Steven,24000,39,IT
101,Neena,17000,27,Sales
102,Lex,17000,37,Marketing
103,Alexander,9000,39,Marketing
104,Bruce,6000,38,IT
105,David,4800,39,IT
106,Valli,4800,38,Sales
107,Diana,4200,35,Sales
108,Nancy,12008,28,Sales
109,Daniel,9000,35,HR
110,John,8200,31,Marketing
111,Ismael,7700,32,IT
112,Jose Manuel,7800,34,HR
113,Luis,6900,34,Sales
114,Den,11000,27,Finance
115,Alexander,3100,29,Finance
116,Shelli,2900,37,Finance
117,Sigal,2800,33,Sales
118,Guy,2600,36,HR
119,Karen,2500,32,Finance
120,Matthew,8000,30,HR
121,Adam,8200,39,HR
122,Payam,7900,36,Finance
123,Shanta,6500,35,Sales
124,Kevin,5800,33,Marketing
125,Julia,3200,35,Finance
126,Irene,2700,28,HR
127,James,2400,31,HR
128,Steven,2200,33,Finance
129,Laura,3300,38,IT
130,Mozhe,2800,28,Marketing
131,James,2500,36,Sales
132,TJ,2100,34,IT
133,Jason,3300,38,Sales
134,Michael,2900,29,Sales
135,Ki,2400,35,Marketing
136,Hazel,2200,29,IT
137,Renske,3600,26,Marketing
138,Stephen,3200,35,Sales
139,John,2700,36,Sales
140,Joshua,2500,29,Finance

In [0]:
df.printSchema()

root
 |-- Emp_No: integer (nullable = true)
 |-- Emp_Name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)

#####SQL query to fetch solely the records from the View where the age exceeds 30

In [0]:
%sql

/* SQL query to fetch solely the records from the View where the age exceeds 30 */

select * from `employees_data_analysis` where Age > 30

Emp_No,Emp_Name,Salary,Age,Department
199,Douglas,2600,34,Sales
200,Jennifer,4400,36,Marketing
201,Michael,13000,32,IT
202,Pat,6000,39,HR
203,Susan,6500,36,Marketing
205,Shelley,12008,33,Finance
206,William,8300,37,IT
100,Steven,24000,39,IT
102,Lex,17000,37,Marketing
103,Alexander,9000,39,Marketing
104,Bruce,6000,38,IT
105,David,4800,39,IT
106,Valli,4800,38,Sales
107,Diana,4200,35,Sales
109,Daniel,9000,35,HR
110,John,8200,31,Marketing
111,Ismael,7700,32,IT
112,Jose Manuel,7800,34,HR
113,Luis,6900,34,Sales
116,Shelli,2900,37,Finance
117,Sigal,2800,33,Sales
118,Guy,2600,36,HR
119,Karen,2500,32,Finance
121,Adam,8200,39,HR
122,Payam,7900,36,Finance
123,Shanta,6500,35,Sales
124,Kevin,5800,33,Marketing
125,Julia,3200,35,Finance
127,James,2400,31,HR
128,Steven,2200,33,Finance
129,Laura,3300,38,IT
131,James,2500,36,Sales
132,TJ,2100,34,IT
133,Jason,3300,38,Sales
135,Ki,2400,35,Marketing
138,Stephen,3200,35,Sales
139,John,2700,36,Sales

######SQL query to calculate the average salary of employees grouped by department

In [0]:
%sql
/* SQL query to calculate the average salary of employees grouped by department */

select Department, AVG(Salary) as Avg_Salary from `employees_data_analysis` group by Department

Department,Avg_Salary
Sales,5492.923076923077
HR,5837.5
Finance,5730.8
Marketing,6633.333333333333
IT,7400.0

######Apply filter() on the Dataframe

In [0]:
# Apply a filter to select records where the department is 'IT'

df.filter(df.Department=='IT').show()

+------+--------+------+---+----------+
|Emp_No|Emp_Name|Salary|Age|Department|
+------+--------+------+---+----------+
|   198|  Donald|  2600| 29|        IT|
|   201| Michael| 13000| 32|        IT|
|   206| William|  8300| 37|        IT|
|   100|  Steven| 24000| 39|        IT|
|   104|   Bruce|  6000| 38|        IT|
|   105|   David|  4800| 39|        IT|
|   111|  Ismael|  7700| 32|        IT|
|   129|   Laura|  3300| 38|        IT|
|   132|      TJ|  2100| 34|        IT|
|   136|   Hazel|  2200| 29|        IT|
+------+--------+------+---+----------+

######Add 10% Bonus to Salaries

In [0]:
%python
# /* Add a new column Bonus_Salary */
from pyspark.sql.functions import col
df.withColumn('Bonus_Salary',col('Salary')+(col('Salary')*0.10)).show()

+------+---------+------+---+----------+------------+
|Emp_No| Emp_Name|Salary|Age|Department|Bonus_Salary|
+------+---------+------+---+----------+------------+
|   198|   Donald|  2600| 29|        IT|      2860.0|
|   199|  Douglas|  2600| 34|     Sales|      2860.0|
|   200| Jennifer|  4400| 36| Marketing|      4840.0|
|   201|  Michael| 13000| 32|        IT|     14300.0|
|   202|      Pat|  6000| 39|        HR|      6600.0|
|   203|    Susan|  6500| 36| Marketing|      7150.0|
|   204|  Hermann| 10000| 29|   Finance|     11000.0|
|   205|  Shelley| 12008| 33|   Finance|     13208.8|
|   206|  William|  8300| 37|        IT|      9130.0|
|   100|   Steven| 24000| 39|        IT|     26400.0|
|   101|    Neena| 17000| 27|     Sales|     18700.0|
|   102|      Lex| 17000| 37| Marketing|     18700.0|
|   103|Alexander|  9000| 39| Marketing|      9900.0|
|   104|    Bruce|  6000| 38|        IT|      6600.0|
|   105|    David|  4800| 39|        IT|      5280.0|
|   106|    Valli|  4800| 38|     Sales|      5280.0|
|   107|    Diana|  4200| 35|     Sales|      4620.0|
|   108|    Nancy| 12008| 28|     Sales|     13208.8|
|   109|   Daniel|  9000| 35|        HR|      9900.0|
|   110|     John|  8200| 31| Marketing|      9020.0|
+------+---------+------+---+----------+------------+
only showing top 20 rows

######Find Maximum Salary by Age

In [0]:
from pyspark.sql.functions import max
df.groupBy('Age').agg(max(col('Salary')).alias('Max_Salary')).show(5)

+---+----------+
|Age|Max_Salary|
+---+----------+
| 31|      8200|
| 34|      7800|
| 28|     12008|
| 27|     17000|
| 26|      3600|
+---+----------+
only showing top 5 rows

######Self Join employees_data_analysis table with the Data frame

In [0]:
df.join(df, on='Emp_No').show()

+------+---------+------+---+----------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+---------+------+---+----------+
|   198|   Donald|  2600| 29|        IT|   Donald|  2600| 29|        IT|
|   199|  Douglas|  2600| 34|     Sales|  Douglas|  2600| 34|     Sales|
|   200| Jennifer|  4400| 36| Marketing| Jennifer|  4400| 36| Marketing|
|   201|  Michael| 13000| 32|        IT|  Michael| 13000| 32|        IT|
|   202|      Pat|  6000| 39|        HR|      Pat|  6000| 39|        HR|
|   203|    Susan|  6500| 36| Marketing|    Susan|  6500| 36| Marketing|
|   204|  Hermann| 10000| 29|   Finance|  Hermann| 10000| 29|   Finance|
|   205|  Shelley| 12008| 33|   Finance|  Shelley| 12008| 33|   Finance|
|   206|  William|  8300| 37|        IT|  William|  8300| 37|        IT|
|   100|   Steven| 24000| 39|        IT|   Steven| 24000| 39|        IT|
|   101|    Neena| 17000| 27|     Sales|    Neena| 17000| 27|     Sales|
|   102|      Lex| 17000| 37| Marketing|      Lex| 17000| 37| Marketing|
|   103|Alexander|  9000| 39| Marketing|Alexander|  9000| 39| Marketing|
|   104|    Bruce|  6000| 38|        IT|    Bruce|  6000| 38|        IT|
|   105|    David|  4800| 39|        IT|    David|  4800| 39|        IT|
|   106|    Valli|  4800| 38|     Sales|    Valli|  4800| 38|     Sales|
|   107|    Diana|  4200| 35|     Sales|    Diana|  4200| 35|     Sales|
|   108|    Nancy| 12008| 28|     Sales|    Nancy| 12008| 28|     Sales|
|   109|   Daniel|  9000| 35|        HR|   Daniel|  9000| 35|        HR|
|   110|     John|  8200| 31| Marketing|     John|  8200| 31| Marketing|
+------+---------+------+---+----------+---------+------+---+----------+
only showing top 20 rows

######Calculate Average Employee Age

In [0]:
# Calculate the average age of employees
from pyspark.sql.functions import avg
df.agg(avg(col('Age')).alias('Avg_Age')).show()

+-------+
|Avg_Age|
+-------+
|  33.56|
+-------+

######Calculate Total Salary by Department

In [0]:
# Calculate Total Salary by Department
from pyspark.sql.functions import sum
df.groupBy('Department').agg(sum(col('Salary')).alias('Total_Salary')).show()

+----------+------------+
|Department|Total_Salary|
+----------+------------+
|     Sales|       71408|
|        HR|       46700|
|   Finance|       57308|
| Marketing|       59700|
|        IT|       74000|
+----------+------------+

######Sort Data by Age and Salary

In [0]:
# Sort Data by Age and Salary
df.sort('Age', ascending=True).sort('Salary', ascending=False).show()

+------+-----------+------+---+----------+
|Emp_No|   Emp_Name|Salary|Age|Department|
+------+-----------+------+---+----------+
|   100|     Steven| 24000| 39|        IT|
|   101|      Neena| 17000| 27|     Sales|
|   102|        Lex| 17000| 37| Marketing|
|   201|    Michael| 13000| 32|        IT|
|   205|    Shelley| 12008| 33|   Finance|
|   108|      Nancy| 12008| 28|     Sales|
|   114|        Den| 11000| 27|   Finance|
|   204|    Hermann| 10000| 29|   Finance|
|   103|  Alexander|  9000| 39| Marketing|
|   109|     Daniel|  9000| 35|        HR|
|   206|    William|  8300| 37|        IT|
|   110|       John|  8200| 31| Marketing|
|   121|       Adam|  8200| 39|        HR|
|   120|    Matthew|  8000| 30|        HR|
|   122|      Payam|  7900| 36|   Finance|
|   112|Jose Manuel|  7800| 34|        HR|
|   111|     Ismael|  7700| 32|        IT|
|   113|       Luis|  6900| 34|     Sales|
|   203|      Susan|  6500| 36| Marketing|
|   123|     Shanta|  6500| 35|     Sales|
+------+-----------+------+---+----------+
only showing top 20 rows

######Count Employees in Each Department

In [0]:
# Count Employees in Each Department
from pyspark.sql.functions import count
df.groupBy('Department').agg(count(col('Emp_No')).alias('Total_Employees')).show()

+----------+---------------+
|Department|Total_Employees|
+----------+---------------+
|     Sales|             13|
|        HR|              8|
|   Finance|             10|
| Marketing|              9|
|        IT|             10|
+----------+---------------+

######Filter Employees with the letter A in the Name

In [0]:
# Filter Employees with the letter o in the Name
df.filter(col('Emp_Name').contains('A')).show()

+------+---------+------+---+----------+
|Emp_No| Emp_Name|Salary|Age|Department|
+------+---------+------+---+----------+
|   103|Alexander|  9000| 39| Marketing|
|   115|Alexander|  3100| 29|   Finance|
|   121|     Adam|  8200| 39|        HR|
+------+---------+------+---+----------+